*.suo
obj
bin
*.userprefs
*tlog*
*.log
*.obj
*.idb
*.pdb
*.user
*.sdf
*.opensdf
*.exp
*.ilk
*.lib
*.dll
*.pidb
*.dll.meta
*.a
*.a.meta
*swp
*.so
*.xcuserstate
*.xckptlist
*.xccheckout
src/udpkit.unity/Library
src/udpkit.unity/Temp
src/udpkit.unity/*.sln
src/udpkit.unity/*.csproj
