*.suo
obj
bin
*.userprefs
*tlog*
*.log
*.obj
*.idb
*.pdb
*.user
*.sdf
*.opensdf
*.exp
*.ilk
*.lib
*.dll
*.pidb
*.dll.meta
*.a
*.a.meta
*swp
*.so
*.xcuserstate
*.xckptlist
*.xccheckout
src/udpkit.examples.unity/*_Data/*
src/udpkit.examples.unity/*.exe
src/udpkit.examples.unity/Library
src/udpkit.examples.unity/Temp
src/udpkit.examples.unity/*.sln
src/udpkit.examples.unity/*.csproj
